pre {
    color: white;
}

.login-dark {
    height: 1000px;
    background-size: cover;
    position: relative;
}

.login-dark .wrapper {
    max-width: 620px;
    width: 90%;
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-dark .wrapper h3,
.login-dark .wrapper p {
    margin-bottom: 20px;
}

.login-dark .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #2980ef;
}

.login-dark .wrapper .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}

.login-dark .wrapper .btn-primary {
    background: #214a80;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none;
}

.login-dark .wrapper .btn-primary:hover,
.login-dark .wrapper .btn-primary:active {
    background: #214a80;
    outline: none;
}

.login-dark .wrapper .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}

.login-dark .wrapper .forgot:hover,
.login-dark .wrapper .forgot:active {
    opacity: 1;
    text-decoration: none;
}

.login-dark .wrapper .btn-primary:active {
    transform: translateY(1px);
}
